### DEPLOYMENT YAML
### Mostra como o serviço é executado internamente no cluster
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  labels:
    app: currency-exchange
  name: currency-exchange
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: currency-exchange
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: currency-exchange
    spec:
      containers:
        - image: silkmanuel/mmv2-currency_exchange_service:0.0.12-SNAPSHOT
          imagePullPolicy: IfNotPresent
          name: mmv2-currency-exchange-service-skf54
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8000
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8000
      restartPolicy: Always

---
###### SERVICE YML
### Mostra como o serviço é exposto na rede
apiVersion: v1
kind: Service
metadata:
  labels:
    app: currency-exchange
  name: currency-exchange
  namespace: default
spec:
  ports:
    - port: 8000
      protocol: TCP
      targetPort: 8000
  selector:
    app: currency-exchange
  sessionAffinity: None
  type: LoadBalancer
