### DEPLOYMENT YAML
### Mostra como o serviço é executado internamente no cluster
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  labels:
    app: currency-conversion
  name: currency-conversion
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: currency-conversion
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: currency-conversion
    spec:
      containers:
        - image: silkmanuel/mmv2-currency-conversion-service:0.0.12-SNAPSHOT
          imagePullPolicy: IfNotPresent
          name: mmv2-currency-conversion-service-skf54
          envFrom:
            - configMapRef:
                name: currency-conversion

            # - name: CURRENCY_EXCHANGE_URI
            # - name: CURRENCY_EXCHANGE_UI
            #   value: http://currency-exchange
      restartPolicy: Always

---
###### SERVICE YML
### Mostra como o serviço é exposto na rede
apiVersion: v1
kind: Service
metadata:
  labels:
    app: currency-conversion
  name: currency-conversion
  namespace: default
spec:
  ports:
    - port: 8100
      protocol: TCP
      targetPort: 8100
  selector:
    app: currency-conversion
  sessionAffinity: None
  type: LoadBalancer


###### CONFIG MAP YML
### Onde definimos o valor das variáveis de ambiente da aplicação
---
apiVersion: v1
data:
  CURRENCY_EXCHANGE_UI: http://currency-exchange
kind: ConfigMap
metadata:
  name: currency-conversion
  namespace: default
